<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bitcoin.css' %}?after" media="screen"> <!-- ?after를 쓰면 css파일 변경시 적용됨.-->
    <script src="{% static 'bitcoin.js' %}"></script>
</head>
<body>
	<div id="max-container">
		<div class="side-box"></div>
			<div class="center-box">
				<div class="big-container">
					<div>
						<p class="small">비트코인</p>
						<p class="small">가격(upbit): <span id="upbit-btc" upbit-btc-pr="0"></span> krw</p>
						<p class="small">등락율(upbit): <span id="upbit-btc-scr"></span> %</P>
						<p class="small">가격(binance): <span id="binance-btc" binance-btc-pr="0"></span> usdt</p>
						<p class="small">김프: <span id="btc-kimp"></span> %</p>
					</div>
					<div>
						<p class="small">이더리움</p>
						<p class="small">가격(upbit): <span id="upbit-eth" upbit-eth-pr="0"></span> krw</p>
						<p class="small">등락율(upbit): <span id="upbit-eth-scr"></span> %</P>
						<p class="small">가격(binance): <span id="binance-eth" binance-eth-pr="0"></span> usdt</p>
						<p class="small">김프: <span id="eth-kimp"></span> %</p>
					</div>
					<div>
						<p class="small">리플</p>
						<p class="small">가격(upbit): <span id="upbit-xrp" upbit-xrp-pr="0"></span> krw</p>
						<p class="small">등락율(upbit): <span id="upbit-xrp-scr"></span> %</P>
						<p class="small">가격(binance): <span id="binance-xrp" binance-xrp-pr="0"></span> usdt</p>
						<p class="small">김프: <span id="xrp-kimp"></span> %</p>
					</div>
					<div></div>
				</div>

				<div class="big-container">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>

				<div class="big-container">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>

			

				<div id="krw-rates">원달러 환율: <span id="rates" rates_pr="0"></span>krw</div>
			</div>
		<div class="side-box"></div>
	</div>
</body>
</html>

<!-- 블록라인 요소: 줄바꿈이 일어남. 블록라인 태그: h1, p 등 -->
<!-- 인라인 요소: 줄바꿈 없음. 인라인 태그: strong, span 등-->