<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bitcoin.css' %}" media="screen">
    <script src="{% static 'bitcoin.js' %}"></script>
</head>
<body>
	<div>환율: <span id="rates" rates_pr="0"></span>krw</div>
	<div>업비트 비트코인:<span id="upbit" upbit_pr="0"></span>krw</div>
    <div>업비트 비트코인 등락율: <span id="upbit_scr"></span> %</div>
	<div>바이낸스 비트코인:<span id="binance" binance_pr="0"></span>usdt</div>
    <div>바이낸스 비트코인:<span id="binance_krw" binance_pr_krw="0"></span>krw</div>
    <div>김프:<span id="kimp"></span>%</div>
</body>
</html>

<!-- 블록라인 요소: 줄바꿈이 일어남. 블록라인 태그: h1, p 등 -->
<!-- 인라인 요소: 줄바꿈 없음. 인라인 태그: strong, span 등-->