<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bitcoin.css' %}?after" media="screen"> <!-- ?after를 쓰면 css파일 변경시 적용됨.-->
    <script src="{% static 'bitcoin.js' %}"></script>
</head>
<body>
	<div class="big-container">
		<div><p>업비트 비트코인 가격</p> <p><span id="upbit-btc" upbit-btc-pr="0"></span> krw</p></div>
		<div><p>업비트 비트코인 등락율</p> <P><span id="upbit-btc-scr"></span> %</P></div>
		<div><p>바이낸스 비트코인 테더 가격</p> <P><span id="binance-btc" binance-btc-pr="0"></span> usdt</P></div>
		<div><p>김프</p> <P><span id="btc-kimp"></span> %</P></div>
	</div>

	<div id="krw-rates">원달러 환율: <span id="rates" rates_pr="0"></span>krw</div>
</body>
</html>

<!-- 블록라인 요소: 줄바꿈이 일어남. 블록라인 태그: h1, p 등 -->
<!-- 인라인 요소: 줄바꿈 없음. 인라인 태그: strong, span 등-->